<nav>
    <strong>🌟 <span>Redefine Status</span></strong>
    <label data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-sharp fa-solid fa-magnifying-glass"></i>
        Search</label>
</nav>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <input type="search" name="search" class="form-control" placeholder="Search" id="">
        </div>
    </div>
</div>