<nav>
    <strong>🌟 <span>Redefine Status</span></strong>
    <label data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-sharp fa-solid fa-magnifying-glass"></i>
        Search</label>
</nav>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="input-group mb-3">
                <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
                <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon"
                    aria-describedby="button-addon1" />
            </div>
        </div>
    </div>
</div>