/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
}

body{
    color: #eee;
    --bkg-color: #2f3437;
}

body.light-theme {
    
    color: #000000;
    --bkg-color: #fff;
}

body{
    background: var(--bkg-color);
}